<%=link_to @user do %>
  <div class="user">
    <div class="userPhoto blackMargin"><%=image_tag @user.photo %></div>
    <div class="name blackMargin">
      <h3><%= @user.name %></h3>
      <small>Number of posts: <%= @user.posts_counter %></small>
    </div>
  </div>
<% end %>
<% unless @posts.nil? %>
  <ul class="postsL">
    <% @posts.each do |post| %>
    <%=link_to user_post_path(@user, post) do %>
      <div class="post blackMargin">
        <small>Post #<%= post.id %></small>
        <h3><%= post.title %></h3>
        <p><%= post.text %></p>
        <small class="counters">Comments: <%= post. comments_counter %>, Likes: <%= post.likes_counter %></  small>
      </div>
      <% end %>
      <div class="blackMargin">
        <% post.recent_comments.includes([:user]).each do |comment| %>
          <%= comment.user.name %>: <%= comment.text %></br>
        <% end %>
      </div>
    <% end %>
  </ul>
<% end %>
<div class="seeAllBtn blackMargin"><%=link_to "New Post", new_user_post_path(@user), class: 'show-posts'%></div>
<div class="center"><%= will_paginate @posts %></div>
