<div class="post blackMargin">
  <small>Post #<%= @post.id %> by <%= @post.user.name %></small>
  <small class="counters">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></small>
  <h3><%= @post.title %></h3>
  <p><%= @post.text %></p>
</div>
<div class="blackMargin">
  <% @comments.each do |comment| %>
    <p>
      <%= comment.user.name %>: <%= comment.text %>
      <% if can? :destroy, comment %>
        <%= button_to 'Delete', user_post_comment_path(current_user.id, @post.id, comment.id), method: :delete, class: 'del' %>
      <% end %>
    <p>
  <% end %>
</div>

<%= form_with url: user_like_path(@user, @post), method: :post do |f| %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit "Like", class: 'btn' %>
<% end %>

<%= form_with :url => user_post_comments_path(@user, @post), method: :post do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.hidden_field :author_id, value: @user.id %>
  <%= f.text_area :comment, placeholder: 'Comment', class: 'fileBox' %><br>
  <%= f.submit "Comment", class: 'btn' %>
<% end %>
